adf/pipeline/pl_cp_git_adls2.json
{
	"name": "pl_cp_git_adls2",
	"properties": {
		"activities": [
			{
				"name": "Get list of CSV files from ADLS2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csvAdls2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable to latest file name in ADLS2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get list of CSV files from ADLS2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "i",
					"value": {
						"value": "@if(empty(last(activity('Get list of CSV files from ADLS2').output.childItems)),variables('j'),formatDateTime(addDays(formatDateTime(replace(last(activity('Get list of CSV files from ADLS2').output.childItems).name,'.csv',''),'MM-dd-yyyy'),1),'MM-dd-yyyy'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set variable to latest file name in ADLS2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(dayOfYear(formatDateTime(variables('i'),'MM-dd-yyyy')),dayOfYear(subtractFromTime(utcnow(),1,'Day')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy from git to adls2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csvHttpGithub",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat(formatDateTime(variables('i'),'MM-dd-yyyy'),'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csvAdls2",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Increment Date P1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy from git to adls2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "j",
								"value": {
									"value": "@addDays(formatDateTime(variables('i'),'MM-dd-yyyy'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Increment Date P2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Increment Date P1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "i",
								"value": {
									"value": "@variables('j')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"i": {
				"type": "String",
				"defaultValue": "01-22-2020"
			},
			"j": {
				"type": "String",
				"defaultValue": "01-22-2020"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-08T08:56:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}